<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/pprchal/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="pprchal" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
<!-- https://github.com/pprchal/Lusk -->